{{page-title "Index"}}

<h1>Template #{{@model.id}}</h1>

<div>
  <LinkTo @route="templates.template.edit" @model={{@model}}>Edit</LinkTo>
</div>

<div>
  <LinkTo @route="templates">Back to Templates</LinkTo>
</div>
