{{page-title "Index"}}

<h1>Templates / Index</h1>

<ul>
  <li><LinkTo @route="templates.template" @model="1">1</LinkTo></li>
  <li><LinkTo @route="templates.template" @model="2">2</LinkTo></li>
  <li><LinkTo @route="templates.template" @model="3">3</LinkTo></li>
</ul>
